.about {
    padding: 62px 0;
}

.about__title {
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    max-width: 700px;
    margin: 0 0 24px;
}

.about__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px 32px;
}

.about__item {
    padding: 6px 6px 6px 96px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;
}

.about__item-top {
    background-image: url(../img/top.svg);
}

.about__item-master {
    background-image: url(../img/master.svg);
}

.about__item-garant {
    background-image: url(../img/garant.svg);
}

.about__item-title {
    margin: 0 0 8px;
}

.about__item-description {
    line-height: 130%;
    margin: 0 0 72px;
}

@media (max-width: 420px) {
    .about__item {
        padding: 6px 6px 6px 96px;
        background-position: left;
        background-repeat: no-repeat;
        background-size: 80px;
    }

    .about__item-title {
        font-size: 14px;
    }

    .about__item-description {
        font-size: 15px;
    }
}

