.footer__container {
    padding: 17px;
    padding-bottom: 42px;
    border-top:  1px solid #BFBDB2;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    gap: 40px;
}

.footer__navigation {
    justify-self: center;
}

.novigatoin__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 7px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    line-height: 100%;
}

.navigation__link:hover {
    text-decoration: underline;
    color: #BFBDB2;
}
.footer__copyright {
    margin: 0;
    font-size: 12px;
    line-height: 100%;
}
