.header__container {
    padding-top: 16px;
    padding-bottom: 17px;
    border-bottom: 1px solid #BFBDB2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navigation {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 54px;
}

@media (max-width: 768px) {
    .header__navigation {
        display: none;
    }
}


@media (max-width: 560px) {
    .header__container {
        padding-top: 12px;
        padding-top: 13px;
    }
}
