.hero {
    padding: 62px 0;
}

.hero__title {
    font-weight: 400;
    font-size: 54px;
    text-transform: uppercase;
    max-width: 904px;
    margin: 0 0 36px;
}

.hero__slider {
    min-height: 372px;
}

@media (max-width: 768px) {
    .hero {
        padding: 40px 0;
    }

    .hero__title {
        font-size: 40px;
        margin-bottom: 24px;
    }
}

@media (max-width: 560px) {
    .hero {
        padding: 32px 0;
    }

    .hero__title {
        font-size: 24px;
        margin-bottom: 16px;
        max-width: 420px;
    }
}

