.main-link {
    display: inline-block;
    border-radius: 4px;
    padding: 13px 46px;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #241D1C;
    background: #f6f3e3;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}
.main-link:hover{
    background: #EFE7BE;
}

.main-link:active {
    outline: 1px solid #FFFFFF;
}

.main-link :disabled {
    opacity: 0.4;
}

@media (max-width: 560px) {
    .main-link {
        padding: 10px 24px;
        font-size: 12px;
    }
}