.navigatoin__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.navigation__link {
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
}