.price {
    padding: 62px 0;
}
.price__title {
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 0 16px;
}
.price__tagline{
    margin: 0 0 0 40px;
}
.price__wrapper-content {
    display: flex;
    gap: 32px;
}
.price__wrapper-content:before {
    content: '';
    flex-basis: 50%;
    background-position: top;
    background-size: cover;
    background-image: url('../img/09.jpg');
}
.price__content {
    flex-basis: 50%;
}
.prise__list {
    padding: 0;
    /*margin: 0 0 0 62px;*/
    list-style: none;
}
.prise__item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    list-style: none;
    text-transform: uppercase;
    padding-bottom: 7px;
    border-bottom: 1px solid #BFBDB2;
    margin-bottom: 24px;
}

/*.prise__item:last-child {*/
/*    margin-bottom: 0;*/
/*}*/
.prise__item-title {
    text-transform: uppercase;  
}

.prise__item-count {
    white-space: nowrap;
}

@media (max-width: 768px){
    .price {
        padding: 40px 0;
    }
    .price__title {
        font-size: 32px;
        margin-bottom: 16px;
    }
    .price__wrapper-content:before {
        content: none;
    }
    .price__content {
        flex-basis: 100%;
    }
    .prise__list {
        margin-bottom: 40px;
    }
    .prise__item-count {
        white-space: nowrap;
    }
}

@media (max-width: 560px){
    .price {
        padding: 32px 0;
    }
    .price__title {
        font-size: 20px;
        margin-bottom: 8px;
    }
    .price__tagline{
        font-size: 12px;
        margin-bottom: 24px;
    }
    .prise__list {
        margin-bottom: 24px;
    }
    .prise__item {
        font-size: 12px;
        line-height: 1.2;
        padding-bottom: 6px;
        margin-bottom: 16px;
    }
}