.reserve {
    padding: 62px 0 124px;
}

.reserve__title {
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.reserve__list {
    padding-left: 24px;
    margin-bottom: 72px;
    line-height: 150%;

}

.reserve__item {
    margin-bottom: 8px;
}

.reserve__item:last-child {
    margin-bottom: 0px;
}

.reserve__form-container {
    margin-bottom: 40px;
}

.reserve__fieldset {
    padding: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 72px;
    gap: 8px;
}

.reserve-legend {
    flex-basis: 100%;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    margin-left: 24px;

}

.reserve__fieldset:last-child {
    margin-bottom: 0px;
}

.reserve-legend {
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    color: #F6F3E3;
    margin-bottom: 24px;
}


.reserve__fieldset_sub {
    flex-basis: 100%;
    margin-bottom: 24px;
}
