.slider {
    overflow: hidden;
    position: relative;
}

.slider__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 -16px;
}

.slider__item {
    padding: 0 16px;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 25%;
}

.slider__item_active {
    max-width: 50%;
}

.slider__arrow {
    position: absolute;
    bottom: 30%;
    height: 8px;
    background-color: transparent;
    width: 64px;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
.slider__arrow:hover {
    opacity: 0.8;
}

.slider__arrow:active {
    opacity: 0.6;
}

.left {
    left: 8%;
    background-position: left;
    background-image: url("data:image/svg+xml,%3Csvg width='65' height='8' viewBox='0 0 65 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646446 3.64645C0.451187 3.84171 0.451187 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646446 3.64645ZM65 3.5L1 3.5V4.5L65 4.5V3.5Z' fill='%23F6F3E3'/%3E%3C/svg%3E%0A");
}
.right {
    right: 8%;
    background-position: right;
    background-image: url("data:image/svg+xml,%3Csvg width='65' height='8' viewBox='0 0 65 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M64.3536 3.64645C64.5488 3.84171 64.5488 4.15829 64.3536 4.35355L61.1716 7.53553C60.9763 7.7308 60.6597 7.7308 60.4645 7.53553C60.2692 7.34027 60.2692 7.02369 60.4645 6.82843L63.2929 4L60.4645 1.17157C60.2692 0.976311 60.2692 0.659728 60.4645 0.464466C60.6597 0.269204 60.9763 0.269204 61.1716 0.464466L64.3536 3.64645ZM0 3.5L64 3.5V4.5L0 4.5L0 3.5Z' fill='%23F6F3E3'/%3E%3C/svg%3E%0A");
}

@media (max-width: 1024px) {
    .slider__item {
        max-width: 30%;
    }

    .slider__item_active{
        max-width: 40%;
    }

        .slider__arrow {
            bottom: 12%;
    }
}

@media (max-width: 768px) {
    .slider__item {
        max-width: 25%;
    }
    .slider__item_active {
        max-width: 50%;
    }
    .slider__arrow {
        width: 40px;
        bottom: 31%;
    }
}

@media (max-width: 560px) {
    .slider {
        padding-bottom: 20px;
    } 
    .slider__item {
        max-width: 100%;
    }
    
    .slider__arrow {
        bottom: 0;
    }
    .slider__arrow_left {
        left: 0;
    }
    .slider__arrow_right {
        left: 0;
    } 
}